.reg-pg {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;

  background-image: url('./assets/loginback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.regDeets {
  background-color: rgb(81, 81, 109,0.75);
  padding: 5rem;
}

.back-button {
  padding: 10px;
  margin-top: 30px;
}

.back-button a{
  padding: 10px;
  color: navy;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Helvetica";
  font-size: 20px;
}

.back-button a:hover{
  padding: 10px;
  color: gray;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Helvetica";
  font-size: 20px;
}

.submitButton {
  padding: 10px;
  color: navy;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Helvetica";
  font-size: 20px;
}

.confirm-button {
  padding: 10px;
  margin-top: 30px;
}

.confirm-button a{
  padding: 10px;
  color: navy;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Helvetica";
  font-size: 20px;
}

.confirm-button a:hover{
  padding: 10px;
  color: gray;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Helvetica";
  font-size: 20px;
}

.other {
  gap: 30px;
  display: flex;
  justify-content: center;
}