.setting-pg {
    background-color: #071931;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    padding: 2rem;
    text-align: center;
}

.setting-nav {
  position: fixed;
  overflow: auto;
  white-space: nowrap;
  background-color: navy;
  color: white;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.setting-nav a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.setting-nav a:hover{
    background-color: darkslateblue;
}

.setting-pg h1{
    text-align: center;
    padding-top: 20px;
    width: 100%
}